*,
*::before,
*::after {
  box-sizing: inherit;
}

// Apply a natural box layout model to all elements [http://www.paulirish.com/2012/box-sizing-border-box-ftw/]
// scss-lint:disable VendorPrefix
html {
  box-sizing: border-box;
  font-size: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: auto;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
// scss-lint:enable VendorPrefix

body {
  background: $col-background;
  margin: 0;
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

// scss-lint:disable VendorPrefix
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

::-moz-selection {
  background: $col-highlight;
  color: $col-white;
  text-shadow: none;
}
// scss-lint:enable VendorPrefix

::selection {
  background: $col-highlight;
  color: $col-white;
  text-shadow: none;
}
