form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
  font-weight: bold;
}

button,
select,
input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

/* reset weird iOS styles */
input[type="text"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  background: #fff;
  border: 1px solid $col-input-border;
  height: 34px;
  line-height: 34px;
  padding: 0 8px;
  @include border-radius(0);
  @include transition(border-color $transition-timing $transition-function);

  &:focus {
    border: 1px solid $col-hover;
    outline: none;
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  }
}

input[type="number"] {
  width: 60px;
}

textarea {
  height: 120px;
  resize: vertical;
  vertical-align: top;
}

// Button Styles
button,
input[type="submit"],
.button {
  background: $col-link;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 4px 10px;

  &:active {
    position: relative;
    top: 1px;
  }

  &:focus {
    border: none;
    outline: 1px dashed $col-link;
  }

  &:hover {
    background: $col-hover;
  }
}

/* Colors for form validity */
input:valid,
textarea:valid {}

input:invalid,
textarea:invalid {}

::-webkit-input-placeholder {
  color: $col-placeholder;
}

:-moz-placeholder {
  color: $col-placeholder;
}

:-ms-input-placeholder {
  color: $col-placeholder;
}

input.placeholder {
  color: $col-placeholder;
}
