// scss-lint:disable PseudoElement, QualifyingElement, VendorPrefix
form {
  margin: 0;
}

// Define consistent border, margin, and padding.
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Indicate that 'label' will shift focus to the associated form element
label {
  cursor: pointer;
  font-weight: bold;
}

button,
select,
input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"],
.button, {
  cursor: pointer;
}

// Reset weird iOS styles
input[type="text"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  background: $col-white;
  border: 1px solid $col-input-border;
  border-radius: 0;
  height: 34px;
  line-height: 34px;
  padding: 0 8px;
  transition: border-color $transition-timing $transition-function;

  &:focus {
    border-color: $col-hover;
    outline: none;
  }
}

textarea {
  resize: vertical;
  vertical-align: top;
}

// Button Styles
button,
input[type="submit"],
.button {
  background: $col-link;
  border: 0;
  color: $col-white;
  font-weight: bold;
  padding: 4px 10px;

  &:active {
    position: relative;
    top: 1px;
  }

  &:focus {
    border: 0;
    outline: 1px dashed $col-link;
  }

  &:hover {
    background: $col-hover;
  }
}

// Placeholder styles
::-webkit-input-placeholder {
  color: $col-placeholder;
}

:-moz-placeholder {
  color: $col-placeholder;
}

:-ms-input-placeholder {
  color: $col-placeholder;
}

input.placeholder {
  color: $col-placeholder;
}
