.alert {
  color: $col-alert;
}

.clearfix {
  @include clearfix;
}

// scss-lint:disable VendorPrefix
.flip-h {
  -ms-filter: 'FlipH';
  filter: FlipH;
  transform: scaleX(-1);
}

.flip-v {
  -ms-filter: 'FlipV';
  filter: FlipV;
  transform: scaleY(-1);
}
// scss-lint:enable VendorPrefix

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}
