
// Colors
$col-alert: #ff0000;
$col-alt: #999;
$col-background: #fff;
$col-blockquote: #76888a;
$col-default: #444;
$col-link: red;
$col-highlight: lime;
$col-hover: green;
$col-hr: #e2e6e6;
$col-input-border: pink;
$col-placeholder: whiteSmoke;

// Dimensions
$body-width-max: 1020px;
$body-width-min: 320px;
$footer-height: 150px;

