// scss-lint:disable VendorPrefix

// Calc
// --------
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// Clearfix
// --------
// For clearing floats like a boss
@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Triangles
// http://apps.eky.hk/css-triangle-generator/
@mixin triangle() {
  border-style: solid;
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
