// Print styles
// scss-lint:disable ImportantRule, QualifyingElement, VendorPrefix
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: $col-black !important;
    -ms-filter: none !important;
    filter: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  a[href^="javascript: "]::after,
  a[href^="#"]::after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid $col-black;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: .6in;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  header,
  footer {
    display: none;
  }
}
