.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clear-left {clear:left;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clear-right {clear:right;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}