/* 
html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
v1.4 2009-07-27 | Authors:Eric Meyer & Richard Clark
html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; } article, aside, figure, footer, header, hgroup, nav, section { display:block; } nav ul { list-style:none; } blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } a { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; } ins { background-color:#ff9; color:#000; text-decoration:none; } mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } del { text-decoration:line-through; } abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; } table { border-collapse:collapse; border-spacing:0; } /* tables still need cellspacing="0" in the markup */ 
:focus { outline:0; }
/* /RESET */
/* HTML */
html, body { background-color:#cccccc; height:100%; text-align:center; }
html { overflow:auto; -webkit-font-smoothing:antialiased; }
body,div,dd,dl,dt,h1,h2,h3,h4,h5,h6,li,ol,span,td,th,ul { color:#444; font:15px arial,verdana,sans-serif; line-height:1.22; }
a { color:#f47a4d; text-decoration:none; }
a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color:#c01339; text-decoration:none; }
img { border:none; }
p { padding:10px 0; }
strong, b { font-weight:bold; }
em, i { font-style:italic; }
h1, h2, h3, h4, h5, h6 { color:#000; font-weight:bold; padding:10px 0; text-rendering:optimizeLegibility; }
h1, h1 a { font-size:26px; padding-top:0; }
h2, h2 a { font-size:24px; }
h3, h3 a { font-size:22px; }
h4, h4 a { font-size:18px; }
h5, h5 a { font-size:16px; }
h6, h6 a { font-size:14px; }
table { padding:10px 0;  width:100%; }
th { font-weight:bold; }
td, th { padding:5px; }
ul, ol { padding:10px 10px 10px 30px; }
ul li { background:transparent url(../images/bullet.gif) 0 7px no-repeat; line-height:1.22; list-style:none; padding:0 0 8px 10px; }
ol { font-size:13px; }
ol li { list-style:decimal; margin:0 0 0 10px; padding:0 0 8px 0; }
blockquote { color:#76888a; font-size:16px; font-style:italic; line-height:1.22; padding:10px 0; }
blockquote p { padding:0 }
hr { border:0 #e2e6e6 solid; border-top-width:2px; clear:both; display:block; height:2px; margin:10px 0; }
code, pre { font-family:"Courier New", monospace, serif; font-size:1em; }
sub { vertical-align:sub; font-size:smaller; }
sup { vertical-align:super; font-size:smaller; }
/* inputs/form fields */
select, input, textarea { font:99% arial,helvetica,sans-serif; }
input, select { vertical-align:middle; }
button { overflow:visible; width:auto; }
button, input[type='button'], input[type='submit'], label, select { cursor:pointer; } 
input[type='text'], input[type='password'], input.input-field { border:1px solid #bccccd; margin-bottom:8px; padding:2px; width:450px; }
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:bottom; *vertical-align:baseline; }
textarea { border:1px solid #bccccd; display:block; margin-bottom:8px; overflow:auto; }
select { border:1px solid #bccccd; display:block; margin-bottom:8px; padding:2px; width:200px; }
fieldset { margin-bottom:8px; }
label { font-weight:bold; font-size:13px; display:block; margin:0 0 2px 0; }
label.radio { display:inline; font-size:13px; padding-left:3px; }

::selection { background:#c01339; color:#fff; }
::-moz-selection { background:#c01339; color:#fff; } 
input:focus, select:focus, label:focus, textarea:focus, a:focus { outline:1px dotted #c01339; }

/* /HTML */
/* CLASSES */

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

.clear, .clear-left, .clear-right { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.clear-left {clear:left;}
.clear-right {clear:right;}

.clearfix:after, .clearfix-left:after, .clearfix-right:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix, .clearfix-left:after, .clearfix-right:after { display:inline-block; }
* html .clearfix, * html .clearfix-left:after, * html .clearfix-right:after { height:1%; } /* Hides from IE-mac \*/
.clearfix, .clearfix-left:after, .clearfix-right:after { display:block; }
.clearfix-left:after { clear:left; }
.clearfix-right:after { clear:right; }

.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }
.float-left { float:left; }
.float-right { float:right; }
.inline { display:inline; }
.alert, .required { color:#ff0000; }
.rounded10 {  }
/* /CLASSES */
/* LAYOUT */
#container { background:#fff; height:auto !important; height:500px; margin:0 auto; min-height:500px; text-align:left; width:960px; }
#layout {  }
header { padding:20px 0 20px 10px; }

/* This an example of navigation using a CSS sprite*/
nav ul, nav li { background:none; margin:0; padding:0; }
nav { background:url(../images/backgrounds/nav.png) no-repeat; height:33px; overflow:hidden; }
nav li { float:left; }
nav li a { background:url(../images/backgrounds/nav.png) left top no-repeat; display:block; height:33px; text-indent:-9999px; }

nav li#learning a { background-position:0px 0px; width:185px; }
nav li#assessment a { background-position:-185px 0px; width:172px; }
nav li#culture a { background-position:-357px 0px; width:90px; }

nav li#learning a:hover { background-position:0px -66px; }
nav li#assessment a.on { background-position:-185px -66px; }
nav li#culture a.on { background-position:-357px -66px; }

nav li#learning a:hover { background-position:0px -33px; }
nav li#assessment a:hover { background-position:-185px -33px; }
nav li#culture a:hover { background-position:-357px -33px; }

article { float:left; padding:0 20px 40px 20px; width:600px; }
article header { padding:10px 0; }
section {  }

footer { padding:0 20px; }
footer nav { background:none; height:auto; width:auto; }
footer nav li a { background:none; text-indent:0px; }
/* /LAYOUT */


