/* apply a natural box layout model to all elements [http://www.paulirish.com/2012/box-sizing-border-box-ftw/] */
/* line 4, ../sass/app/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display definitions */
/* line 18, ../sass/app/_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 24, ../sass/app/_base.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 30, ../sass/app/_base.scss */
audio:not([controls]) {
  display: none;
}

/* line 34, ../sass/app/_base.scss */
[hidden] {
  display: none;
}

/* Base */
/* line 39, ../sass/app/_base.scss */
html {
  font-size: 100%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 47, ../sass/app/_base.scss */
body {
  background: white;
  margin: 0;
}

/* line 52, ../sass/app/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Correct overflow not hidden in IE9 */
/* line 59, ../sass/app/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Figures */
/* line 64, ../sass/app/_base.scss */
figure {
  margin: 0;
}

/* Fun things */
/* line 69, ../sass/app/_base.scss */
::-moz-selection {
  background: lime;
  color: #fff;
  text-shadow: none;
}

/* line 75, ../sass/app/_base.scss */
::selection {
  background: lime;
  color: #fff;
  text-shadow: none;
}

/* Typography */
/* line 8, ../sass/app/common/_typography.scss */
body,
button,
input,
select,
textarea {
  color: #444444;
  font: 15px sans-serif;
}

/* Links */
/* line 14, ../sass/app/common/_typography.scss */
a {
  color: red;
  text-decoration: none;
}
/* line 20, ../sass/app/common/_typography.scss */
a:hover {
  color: green;
  text-decoration: none;
}
/* line 25, ../sass/app/common/_typography.scss */
a:focus {
  outline: thin dotted;
}
/* line 30, ../sass/app/common/_typography.scss */
a:hover, a:active {
  outline: 0;
}

/* line 37, ../sass/app/common/_typography.scss */
a:focus,
button:focus,
label:focus {
  outline: 1px dashed red;
}

/* line 41, ../sass/app/common/_typography.scss */
p {
  margin: 10px 0;
  padding: 0;
}

/* line 46, ../sass/app/common/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 51, ../sass/app/common/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 55, ../sass/app/common/_typography.scss */
blockquote {
  color: #76888a;
  font-size: 16px;
  font-style: italic;
  margin: 1em 40px;
  padding: 10px 0;
}
/* line 62, ../sass/app/common/_typography.scss */
blockquote p {
  margin: 0;
}

/* line 69, ../sass/app/common/_typography.scss */
em,
i,
dfn {
  font-style: italic;
}

/* line 73, ../sass/app/common/_typography.scss */
hr {
  border: 0 #e2e6e6 solid;
  border-top-width: 1px;
  clear: both;
  display: block;
  height: 1px;
  margin: 10px 0;
}

/* line 82, ../sass/app/common/_typography.scss */
ins {
  background: #999999;
  color: #000;
  text-decoration: none;
}

/* line 88, ../sass/app/common/_typography.scss */
mark {
  background: #999999;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 100, ../sass/app/common/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

/* line 107, ../sass/app/common/_typography.scss */
h1 {
  font-size: 34px;
  margin-top: 0;
}

/* line 112, ../sass/app/common/_typography.scss */
h2 {
  font-size: 30px;
}

/* line 116, ../sass/app/common/_typography.scss */
h3 {
  font-size: 26px;
}

/* line 120, ../sass/app/common/_typography.scss */
h4 {
  font-size: 22px;
}

/* line 124, ../sass/app/common/_typography.scss */
h5 {
  font-size: 18px;
}

/* line 128, ../sass/app/common/_typography.scss */
h6 {
  font-size: 14px;
}

/* Redeclare monospace font family:h5bp.com/j */
/* line 136, ../sass/app/common/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 143, ../sass/app/common/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 149, ../sass/app/common/_typography.scss */
q {
  quotes: none;
}

/* line 154, ../sass/app/common/_typography.scss */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 159, ../sass/app/common/_typography.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height:h5bp.com/k */
/* line 165, ../sass/app/common/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 172, ../sass/app/common/_typography.scss */
sup {
  top: -0.5em;
}

/* line 176, ../sass/app/common/_typography.scss */
sub {
  bottom: -0.25em;
}

/* Forms */
/* line 3, ../sass/app/common/_forms.scss */
form {
  margin: 0;
}

/* line 7, ../sass/app/common/_forms.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 14, ../sass/app/common/_forms.scss */
label {
  cursor: pointer;
  font-weight: bold;
}

/* line 19, ../sass/app/common/_forms.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 28, ../sass/app/common/_forms.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 36, ../sass/app/common/_forms.scss */
button,
input {
  line-height: normal;
  *overflow: visible;
}

/* line 42, ../sass/app/common/_forms.scss */
button:active,
.button:active {
  position: relative;
  top: 1px;
}

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
/* line 49, ../sass/app/common/_forms.scss */
table button,
table input {
  *overflow: auto;
}

/* line 58, ../sass/app/common/_forms.scss */
button,
select,
input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

/* line 65, ../sass/app/common/_forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

/* Consistent box sizing and appearance  */
/* line 71, ../sass/app/common/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 77, ../sass/app/common/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 82, ../sass/app/common/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 87, ../sass/app/common/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* reset weird iOS styles */
/* line 102, ../sass/app/common/_forms.scss */
input[type="text"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  border: 1px solid pink;
  padding: 2px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in;
  -moz-transition: border-color 0.15s ease-in;
  -o-transition: border-color 0.15s ease-in;
  transition: border-color 0.15s ease-in;
}

/* line 110, ../sass/app/common/_forms.scss */
input[type="number"] {
  width: 40px;
}

/* line 114, ../sass/app/common/_forms.scss */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 123, ../sass/app/common/_forms.scss */
input:focus,
select:focus,
textarea:focus {
  border: 1px solid green;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Colors for form validity */
/* line 138, ../sass/app/common/_forms.scss */
::-webkit-input-placeholder {
  color: whitesmoke;
}

/* line 142, ../sass/app/common/_forms.scss */
:-moz-placeholder {
  color: whitesmoke;
}

/* line 146, ../sass/app/common/_forms.scss */
:-ms-input-placeholder {
  color: whitesmoke;
}

/* line 150, ../sass/app/common/_forms.scss */
input.placeholder {
  color: whitesmoke;
}

/* Lists */
/* line 2, ../sass/app/common/_lists.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 7, ../sass/app/common/_lists.scss */
ul,
ol {
  padding: 10px 10px 10px 30px;
}

/* line 11, ../sass/app/common/_lists.scss */
ul li {
  background: transparent 0 6px no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACxJREFUeNpidHFxYQACQSA2BuI9LFDObqjALCYoA4RBIA0ksAckAxVIBwgwAMyyBfjDQxpjAAAAAElFTkSuQmCC);
  list-style: none;
  padding: 0 0 8px 10px;
}

/* line 22, ../sass/app/common/_lists.scss */
ol li {
  list-style: decimal;
  margin: 0 0 0 10px;
  padding: 0 0 8px 0;
}

/* line 31, ../sass/app/common/_lists.scss */
nav ul,
nav ol,
nav li {
  background: none;
  margin: 0;
  padding: 0;
}

/* Tables */
/* line 4, ../sass/app/common/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 10px 0;
}

/* line 11, ../sass/app/common/_tables.scss */
td,
th {
  padding: 5px;
}

/* line 15, ../sass/app/common/_tables.scss */
th {
  font-weight: bold;
}

/* line 19, ../sass/app/common/_tables.scss */
td {
  vertical-align: top;
}

/* Transition elements */
/* line 5, ../sass/app/common/_transitions.scss */
a,
button,
.button {
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
  -webkit-transition-property: background-color, border-color, color, opacity;
  -moz-transition-property: background-color, border-color, color, opacity;
  -o-transition-property: background-color, border-color, color, opacity;
  transition-property: background-color, border-color, color, opacity;
}

/* CLASSES */
/* line 3, ../sass/app/common/_helper_classes.scss */
.alert {
  color: red;
}

/* line 7, ../sass/app/common/_helper_classes.scss */
.clearfix {
  *zoom: 1;
}
/* line 16, ../sass/app/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 20, ../sass/app/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 11, ../sass/app/common/_helper_classes.scss */
.flip-h {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* line 15, ../sass/app/common/_helper_classes.scss */
.hide {
  display: none;
}

/* line 19, ../sass/app/common/_helper_classes.scss */
.invisible {
  visibility: hidden;
}

/* LAYOUT */
/* line 3, ../sass/app/layout/_columns.scss */
.inner {
  margin: 0 auto;
  max-width: 1020px;
  min-width: 320px;
}

/*
  Sticky Footer
*/
/* line 6, ../sass/app/layout/_sticky_footer.scss */
html,
body {
  height: 100%;
}

/* line 10, ../sass/app/layout/_sticky_footer.scss */
.wrap {
  height: auto;
  min-height: 100%;
  /* must be same height as the footer */
  padding-bottom: 150px;
}

/* line 17, ../sass/app/layout/_sticky_footer.scss */
footer {
  clear: both;
  height: 150px;
  margin-top: -150px;
  position: relative;
}

/* Responsiveness */
@media (min-width: 1200px) {
  /* line 4, ../sass/app/_media_queries.scss */
  .inner {
    width: 1160px;
  }
}
@media (max-width: 979px) {
  /* line 10, ../sass/app/_media_queries.scss */
  .inner {
    width: 840px;
  }
}
@media (max-width: 840px) {
  /* line 16, ../sass/app/_media_queries.scss */
  .inner {
    padding: 0 40px;
    width: 100%;
  }
}
/* Print styles */
@media print {
  /* line 3, ../sass/app/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 13, ../sass/app/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 17, ../sass/app/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 22, ../sass/app/_print.scss */
  a[href^="javascript: "]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 27, ../sass/app/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 32, ../sass/app/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 37, ../sass/app/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 41, ../sass/app/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 51, ../sass/app/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 57, ../sass/app/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 62, ../sass/app/_print.scss */
  header,
  footer {
    display: none;
  }
}
/* line 3, ../sass/app/_shame.scss */
.lt-ie9 .wrap {
  min-height: 1px;
  padding-bottom: 0;
}
/* line 8, ../sass/app/_shame.scss */
.lt-ie9 footer {
  margin-top: 0;
  position: static;
}
